




/* Pricing Form */

.pricing-form {
  max-width: 600px;
  width: 85%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px; 
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for hover */
}

.pricing-form:hover {
  transform: translateY(-5px); /* Slight lift on hover */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Deeper shadow on hover */
}

.form-group {
  margin-bottom: 20px;
  animation: fadeIn 0.5s ease-in-out; /* Fade-in animation */
}

.form-group label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #333;
}

input[type='text'] {
  width: calc(50% - 10px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  margin-right: 10px;
  margin-bottom: 10px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for focus and hover */
}

input[type='text']:focus {
  border-color: #1e90ff; /* Blue border color on focus */
  box-shadow: 0 0 8px rgba(30, 144, 255, 0.2); /* Shadow on focus */
}

input[type='text']:hover {
  border-color: #1e90ff; /* Blue border color on hover */
}

input[type='text']:last-child {
  margin-right: 0;
}

button {
  display: block;
  padding: 12px 20px; /* Adjusted padding for better appearance */
  background-color: #050607;
  color: #fff;
  border: none;
  border-radius: 5px; /* Slightly more rounded corners */
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transition for hover */
}

button:hover {
  background-color: #090b0c;
  transform: scale(1.05); /* Slight scaling effect on hover */
}

h3 {
  margin-bottom: 10px;
  font-size: 24px;
  color: #333;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
